html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  background-image: url("../Resource/NewFondo.jpg");
  background-size: 100%;
  background-repeat: repeat-x;
}

h1{
font-size: 50px;
}

.form-signin {
   width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
 
}

.form-signin .container{
    background-color: white;
}  


.form-signin .btn{
    margin: auto;
    height: auto;
    width: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}